Options -Indexes

RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{REQUEST_FILENAME}\.php -f

RewriteRule ^am-meds am-meds.php [NC,L]

RewriteRule ^noon-meds noon-meds.php [NC,L]

RewriteRule ^pm-meds pm-meds.php [NC,L]

RewriteRule ^rooms rooms.php [NC,L]

RewriteCond %{REQUEST_FILENAME} !-f

<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf)(\.gz)?$">
  Header set Expires "Sun, 31 Dec 2023 00:00:00 GMT"
</FilesMatch>

<IfModule mod_expires.c>
  ExpiresActive on
  ExpiresByType text/css                  "access plus 1 year"
  ExpiresByType application/javascript    "access plus 1 year"
</IfModule>
