Options -Indexes

RewriteEngine On

RewriteRule ^rooms/([^/]+)/([^/]+) rooms.php?startDate=$1&endDate=$2 [NC,L]

RewriteRule ^rooms rooms.php [NC,L]

RewriteCond %{THE_REQUEST} \s/+index\.php\?([^\s&]+) [NC]

RewriteRule ^ %1? [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f

RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^medication/([^/]+)/?$ index.php?meds=$1 [L,QSA]

<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf)(\.gz)?$">
  Header set Expires "Sun, 31 Dec 2023 00:00:00 GMT"
</FilesMatch>

<IfModule mod_expires.c>
  ExpiresActive on
  ExpiresByType text/css                  "access plus 1 year"
  ExpiresByType application/javascript    "access plus 1 year"
</IfModule>
